$logoBlue: #00B2EE;
$logoOrange: #f7941e;
$logoGreen: #becd2b;

$sectionRed: #FF615E;
$sectionOrange: #FF8E18;
$sectionGreen: #1EB703;
$sectionBlue: #61CDFD;
$sectionPurple: #5F8CF4;


$navy: #03368A;
$grey: #58585B;
$greynav: #929292;
$greyborder: #DADAE9;
$greylight: #F3F3FC;
$offwhite: #f9f9f9;
