@font-face { 
    font-family:icons;
    src:url(../fonts/icons.eot);
    src:url(../fonts/icons.eot?#iefix) format("embedded-opentype"),
        url(../fonts/icons.ttf) format("truetype"),
        url(../fonts/icons.svg#icons) format("svg"),
        url(../fonts/icons.woff) format("woff");
    font-weight:400;
    font-style:normal
}